.image {
  padding-bottom: 33%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.footer {
  position: fixed;
  bottom: 0;
  flex-direction: column;
}

.scroll-content {
  margin-bottom: 56px;
}